#------------------------------------------------------------------------------#
#-------------------------------- General-ish ---------------------------------#
#                                    START!                                    #

# Emacs temp, lock files
*~
.#*

# Other temp/cache files
.DS_Store
.idea
*.log
tmp/

#                                  ---END!---                                  #
#-------------------------------- General-ish ---------------------------------#
#------------------------------------------------------------------------------#
#                                                                              #
#                                                                              #
#------------------------------------------------------------------------------#
#----------------------- Custom, Actual, For-This-Repo ------------------------#
#                                 ---START!---                                 #

# Flycheck why?! >:(
**/flycheck*


# Flask runtime files:
code/instance/*

# Zip for sending in:
*.zip

#                                  ---END!---                                  #
#----------------------- Custom, Actual, For-This-Repo ------------------------#
#------------------------------------------------------------------------------#

